@model Customers.Data.Models.CustomerEntity

@{
    var action = ViewData["Action"];
}
<div>
    <div style="background-color:#1b1b1b; color:white; font-size:24px; font-weight:800; padding:10px; text-align:center">
        <h3>@action Customer</h3>
    </div>
    <div style="background-color:#ffa31a; color:black; font-size:20px; font-weight:700; padding:10px">
        <form asp-controller="customer" asp-action="save" method="post">
            @Html.Hidden("action",action)
            <table border="0" cellpadding="2" cellspacing="2">
                @if (action != null && action.ToString().ToLower().Equals("edit"))
                {
                    <input asp-for="Id" type="hidden" />
                }
            
                <tr>
                    <td>First Name</td>
                    <td>
                        <input asp-for="FirstName" />
                    </td>
                    <td>
                        <span asp-validation-for="FirstName"></span>
                    </td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>
                        <input asp-for="LastName" />
                    </td>
                    <td>
                        <span asp-validation-for="LastName"></span>
                    </td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>
                        <input asp-for="Address" />
                    </td>
                    <td>
                        <span asp-validation-for="Address"></span>
                    </td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>
                        <input asp-for="Phone" type="number" />
                    </td>
                    <td>
                        <span asp-validation-for="Phone"></span>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Save" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

